{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Feane - Modification Information Pesonnelle {% endblock %}
{% block content_title %} {% endblock %}

{% block main %}

    <section class="mon-information-edit">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12"></div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                    <div class="card shadow p-5">
                        <h3 class="text-center mb-4 fw-bold fs-4"> Modification Information Pesonnelle </h3>
        
                        <div class="edit-profile-form">
                            {{form_start(form)}}
            
                                <div class="form-group mb-3">
                                    <label for="" class="mb-2"> Votre nom de famille <sup class="text-danger">*</sup> </label>
                                    <span class="error"> {{form_errors(form.firstName)}} </span>
                                    {{form_widget(form.firstName)}}
                                </div>
                                <div class="form-group mb-3">
                                    <label for="" class="mb-2"> Votre Prénom(s) </label>
                                    <span class="error"> {{form_errors(form.lastName)}} </span>
                                    {{form_widget(form.lastName)}}
                                </div>
        
                                <div class="mt-4 text-center">
                                    <button type="submit" class="btn btn-primary mb-3" style="width: 100%;"> Modifier </button>
                                    <a href="{{path('app_admin_mon_profile')}}" class="btn btn-secondary" style="width: 100%;"> Retour </a>
                                </div>
            
                            {{form_end(form)}}
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12"></div>
            </div>
            
           
        </div>
    </section>

{% endblock %}