{% extends 'base.html.twig' %}

{% block title %}Adresse{% endblock %}

{% block body %}
    <h1>Adresse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adresse.id }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ adresse.company }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ adresse.adress }}</td>
            </tr>
            <tr>
                <th>Postal</th>
                <td>{{ adresse.postal }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ adresse.city }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ adresse.phone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_adresse_index') }}">back to list</a>

    <a href="{{ path('app_adresse_edit', {'id': adresse.id}) }}">edit</a>

    {{ include('adresse/_delete_form.html.twig') }}
{% endblock %}
