<p class="fw-bold">Chère {{admin.lastName}} {{admin.firstName|upper}} </p> </br>
<p> 
    Nous sommes heureux de vous informer qu'un nouveau réservation d'une table
    a été programmé : 
</p>
<p>Client : {{user.lastName}} {{uese.firstName|upper}}</p>
<p> Date : {{booking.dateBooking|date('d-mY')}} </p>
<p> Heure : {{booking.bookingHour|date('H:s')}} </p>
<p> Veuillez noter cette date dans votre calendrier et assurez-vous que la table sera bien préparé. </p>
<a href="{{ url|raw }}">Voir la réservation</a>
<p> Cordialement </p>
<p> L'équipe Feane </p>
