{% extends 'base.html.twig' %}

{% block title %}Modification mes informations personnelles{% endblock %}

{% block body %}
{% set edit = '' %}
{% for homePage in homePages %}
    {% if homePage.label == "edit-info" %}
        {% set edit = homePage %}
    {% endif %}
{% endfor %}
<section class="edit-info">
    <div class="container">
        <h1 class="text-center mb-4 fw-bold"> {{edit.title}} </h1>
        <div class="text-center mb-5">
            {{edit.description|raw}}
        </div>

        <div class="edit-mail-form">
            <div class="row">
                <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12"></div>
                <div class="col-xl-8 col-lg-12 col-sm-12 col-md-12">
                    {{form_start(form)}}
                    <div class="card shadow p-5">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group mb-4">
                                    <label for="" class="mb-2">Votre nom de famille <sup class="text-danger">*</sup></label>
                                    <span class="error"> {{form_errors(form.firstName)}} </span>
                                    {{form_widget(form.firstName)}}
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group mb-4">
                                    <label for="" class="mb-2">Votre prénom(s)</label>
                                    <span class="error"> {{form_errors(form.lastName)}} </span>
                                    {{form_widget(form.lastName)}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group mb-4">
                                    <label for="" class="mb-2">Votre numéro de téléphone <sup class="text-danger">*</sup></label>
                                    <span class="error"> {{form_errors(form.phoneNumber)}} </span>
                                    {{form_widget(form.phoneNumber)}}
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group mb-4">
                                    <label for="" class="mb-2">Votre sexe <sup class="text-danger">*</sup></label>
                                    <span class="error"> {{form_errors(form.sexe)}} </span>
                                    {{form_widget(form.sexe)}}
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-4">
                            <button type="submit" class="btn btn-primary btn-profile text-black mb-3 btn-sm" style="width: 100%;">Modifier infomation personnelle</button>
                            <a href="{{path('app_account')}}" class="btn btn-secondary btn-sm" style="width: 100%;">Retour</a>
                        </div>
                    </div>
                    {{form_end(form)}}
                </div>
                <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12"></div>
            </div>
        </div>
    </div>
</section>

{% endblock %}